# Production site URL (used for canonical links, sitemap, OpenGraph metadata)
NEXT_PUBLIC_SITE_URL=

# Optional Google Search Console verification code
GOOGLE_SITE_VERIFICATION=p0K0c4tPfxdE1WExZ54l6Q8pabblz8R5GDmdePkDm0U
